$accordion-icon-width: 1.35rem;
$accordion-icon-color: #22ad01;
$accordion-icon-active-color: #22ad01;

.pricing_hero {
    color: #003c2f;
    max-width: 1300px;

    h2 {
        font-size: 2rem;
        line-height: 2rem;
        width: 90%;
        margin: 1.5rem auto;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
        padding: 1.25rem 0;
        max-width: 80%;
        margin: 0 auto;
    }
}

.toggle_container {
    width: 100%;
    height: 65px;
    max-width: 100%;
    cursor: pointer;
    background-color: #f0f5f0;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 6px;
    position: relative;
    transition: background-color 0.3s ease;

    .toggle_monthly {
        width: 115px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #314135;
        border-radius: 50px;
        font-size: 0.9rem;
        font-weight: 600;
        transition: background-color 0.3s ease;
    }

    .background_toggle {
        background-color: #003c2f;
        color: #fff;
        transition: background-color 0.3s ease;

        small {
            color: white;
        }
    }

    .toggle_yearly {
        display: flex;
        align-items: center;
        gap: 9px;
        color: #003d30;
        font-size: 14px;
        font-weight: 600;
        line-height: 125%;
        border-radius: 50px;
        height: 52px;
        padding: 0 25px;
        margin-left: -1rem;
        transition: background-color 0.3s ease;

        .yearly_block {
            background-color: #fff;
            border-radius: 40px;
            padding: 6px 13px;
            font-size: 10px;
            font-weight: 700;
            color: #22ad01;
        }
    }
}

@media screen and (min-width: 370px) {
    .toggle_container {
        width: fit-content;
    }
}


.offer_container {
    width: 93%;
    margin: 1rem auto;
    display: grid;
    align-items: center;
    column-gap: 1.25rem;
    row-gap: 3.5rem;

    .middle_card {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        position: relative;
        z-index: 20;
    }

    .card_overlay {
        background: #ee8146;
        z-index: -1000;
        width: 104%;
        height: 105%;
        padding: 5px 6px 6px;
        position: absolute;
        top: -4%;
        left: -2%;
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);
        border-radius: 20px;

        p {
            color: white;
            text-align: center;
            font-weight: 500;
            font-size: 0.88rem;
            padding: 1rem 0 0;
            margin-top: -0.25rem;
            line-height: 0;
        }
    }

    .pricing_card {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 56px 35px 40px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);
        position: relative;
        z-index: 20;

        .pricing_card_content {
            flex-grow: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        h4 {
            font-size: 2rem;
            font-weight: 700;
            color: #003c2f;
            padding-bottom: 1rem;
        }

        h5 {
            font-weight: 700;
            color: #003c2f;
            font-size: 2.5rem;
            letter-spacing: -2px;

            span {
                font-size: 1.5rem;
                letter-spacing: normal;
            }

            small {
                color: #a5b9ab;
                font-size: 1rem;
                margin-left: 8px;
                letter-spacing: normal;
            }
        }


        button {
            color: #fff;
            text-align: center;
            background-color: #22ad01;
            border-style: none;
            border-radius: 36px;
            padding: 14px 33px 13px;
            margin: 0 auto 0.25rem;
            font-weight: 500;
            line-height: 140%;
            transition: background-color .3s;

            &.last_button {
                margin: 2rem auto 0.5rem;
            }

            &:hover {
                background-color: #1f7909;
            }
        }

        p {
            color: #65816d;
            width: 100%;
            max-width: 250px;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            text-align: center;
            line-height: 30%;
            font-size: 14px;
            font-weight: 500;

            &:first-of-type {
                padding-top: 1.5rem;
            }
        }

        .seperator {
            margin: 30px auto;
            width: 100%;
            border-bottom: 1px solid #d3dcd4;
        }

        .plan_benefits {
            gap: 1rem;
            display: grid;

            .everything_in_plan {

                small {
                    background-color: #d5f8cc;
                    color: #003c2f;
                    padding: 3px;
                    border-radius: 6px;
                }
            }

            li {
                display: flex;
                gap: 20px;
                align-items: center;

                small {
                    color: #64816b;
                    font-size: 0.9rem;
                    font-weight: 600;
                }
            }
        }
    }
}

.adds_ons {
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    article {
        display: grid;
        gap: 2rem;
        margin: 3rem auto;
    }

    h2 {
        width: 50%;
        font-size: 2rem;
        line-height: 2.5rem;
        width: 90%;
        margin: 1.5rem auto;
        text-align: center;
        color: #003c2f;
        font-weight: 700;
    }

    .card-outlined {
        max-width: 300px;
        min-height: 300px;
        margin: 0 auto;
        border: 1px solid #d3dcd4;
        border-radius: 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        display: flex;
        color: #003c2f;

        h5 {
            color: #003c2f;
            font-weight: 700;
            font-size: 1.5rem;
            text-align: center;
        }

        p {
            font-weight: 500;
            color: #65816d;
        }

        a {
            display: inline-block;
            margin: 1rem auto;
            color: #22ad01;
            font-weight: 600;
            text-decoration: underline;
            text-align: center;
            width: 100%;
        }

        h4 {
            font-weight: 700;
            font-size: 2.5rem;

            span {
                color: #65816d;
                font-size: 1rem;
            }
        }

        p {
            text-align: center;
            width: 100%;
            margin: 1rem auto;
            max-width: 250px;
        }
    }
}


.frequently_asked_questions {
    margin: 0 0 8rem;
    padding: 0 1rem;
    max-width: 1300px;

    .image-absolute {
        display: none;
    }

    .accordion {
        background-color: white;
        margin: 0 auto 4rem;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .accordion-header {
            padding: 1rem 0 2rem;

            .accordion-button {
                font-size: 1.25rem;
                color: #003c2f;
                outline: none;
                border: 0 transparent;
                margin: 0;
                padding: 1rem 0 0;
                gap: 0.5rem;
                font-weight: 700;
                background-color: transparent;

                &:focus {
                    border: 0 transparent;
                    box-shadow: none;
                    background-color: transparent;
                }

                &::after {
                    background-image: url("../agencies_assets/dropdown-arrow.svg");
                }
            }
        }

        .accordion-item {
            background-color: transparent;
            border: none;
            color: #003c2f;
            border-bottom: 1px solid #ebeaea;

            .accordion-body {
                padding: 0;

                p {
                    width: 80%;
                    color: #65816d;
                    font-weight: 500;
                }
            }
        }
    }

    h2 {
        color: #003c2f;
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem 0;
    }
}


@media screen and (min-width: 640px) {
    .offer_container {
        max-width: 1300px;
        margin: 3rem auto;
        grid-template-columns: repeat(2, 1fr);

        .pricing_card {
            max-width: 100%;
        }
    }

    .adds_ons {
        margin: 9rem auto;

        h2 {
            font-size: 2.7rem;
        }

        .card-outlined {
            min-height: 356px;
        }

        article {
            margin: 5rem auto;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 992px) {
    .pricing_hero {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 6rem auto 4rem;
        gap: 2rem;

        h2 {
            font-size: 4rem;
            line-height: 4rem;
            width: 60%;
            margin: 0rem auto;
        }

        p {
            padding: 2rem 0;
            font-weight: 500;
            width: 70%;
            margin: 0;
        }
    }

    .offer_container {
        width: 85%;
        margin: 5rem auto;
        grid-template-columns: repeat(3, 1fr);
    }

    .frequently_asked_questions {
        width: 90%;
        padding-left: 120px;
        margin-bottom: 7rem;
        position: relative;

        .image-absolute {
            display: block;
            position: absolute;
            top: -131px;
            right: -500px;
        }

        h2 {
            font-size: 3rem;
            text-align: start;
        }

        .accordion {
            width: 60%;
            margin: 0;

            .accordion-body {

                p {
                    width: 60%;
                }
            }
        }
    }
}