/* ------------------- Hero Section ------------------------ */
.small_business_hero {
    color: #003c2f;
    max-width: 1300px;

    h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 700;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
        padding: 1.5rem 0;
        max-width: 80%;
        color: #65816d;
        margin: 0 auto;
    }
}

.hero_bg_img {
    display: none;
    z-index: 0;
    width: 36vw;
    height: 100%;
    background-color: #f2f7f2;
    background-image: url("../home_page_assets/pattern_dark.webp");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 110px;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
    position: absolute;
}

.hero-img {
    width: 100%;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    object-fit: cover;
    height: 100%;
}

.green_leaf {
    position: absolute;
    top: 25%;
    left: 48%;
    width: 250px;
    transform: rotate(80deg);
    z-index: 40;
}

.small_business_images {
    position: relative;

    .notification_container {
        background-color: rgba(255, 255, 255, .94);
        border-radius: 10px;
        z-index: 20;
        position: absolute;
        margin: 160px auto 0;
        top: 15%;
        bottom: auto;
        left: auto;
        right: -28%;
        width: 60%;
    }

    .notification_container_two {
        background-color: rgba(255, 255, 255, .94);
        border-radius: 10px;
        z-index: 20;
        position: absolute;
        margin: 180px auto 0;
        top: 26%;
        bottom: auto;
        left: auto;
        right: -28%;
        width: 60%;
    }

    .notification {
        min-width: 196px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        align-items: center;
        display: flex;
        padding: 14px 18px 14px 14px;
        z-index: 35;

        img {
            width: 35px;
        }
    }

}

.button_one {
    color: #fff;
    text-align: center;
    background-color: #22ad01;
    border-style: none;
    border-radius: 36px;
    padding: 12px 33px 14px;
    font-weight: 500;
    line-height: 140%;
    transition: background-color .3s;
    min-width: 200px;
    flex-grow: 1;
}

.button_two {
    border: 1px solid #22ad01;
    color: #003c2f;
    text-align: center;
    -webkit-text-stroke-color: #003c2f;
    background-color: transparent;
    border-radius: 36px;
    padding: 12px 33px 14px;
    font-weight: 500;
    line-height: 140%;
    min-width: 200px;
    flex-grow: 1;
}

.bonus_text {
    display: block;
    color: #65816d;
    text-align: center;
    font-weight: 500;
    padding: 1rem 0;
}

.tree_branch {
    display: none;
    width: 50vw;
    max-width: 700px;
    top: 70%;
    left: -70px;
    position: absolute;
    transform: rotateX(0) rotateY(180deg) rotate(0);
    z-index: 1;
}



@media screen and (min-width: 540px) {
    .button_two {
        max-width: 200px;
    }
}

@media screen and (min-width: 992px) {
    .tree_branch {
        display: block;
        width: 35vw;
        max-width: 700px;
        top: 55%;
        left: -70px;
    }

    .small_business_hero {
        width: 90%;
        display: flex;
        align-items: center;
        margin: 0rem auto;
        justify-content: space-between;
        gap: 2rem;

        .small_business_images {
            width: 65%;
        }

        h2 {
            font-size: 4rem;
            line-height: 4rem;
            width: 85%;

            &:first-of-type {
                margin-top: 0rem;
            }
        }

        p {
            padding: 1.5rem 0;
            font-weight: 500;
            width: 70%;
            margin: 0;
        }
    }

    .hero_bg_img {
        display: block;
    }

    .tree_branch {
        top: 90%;
        left: -160px;
    }
}


/* ------------------- Features Section ------------------------ */
.small_business_feature {
    margin: 2rem auto;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;

    img {
        width: 80%;
        margin: 1rem auto;
        box-shadow: 0 0 20px 7px rgba(0, 0, 0, .1);
    }

    h2 {
        font-size: 2rem;
        width: 90%;
        text-align: center;
        color: #003c2f;
        font-weight: 700;
    }
}

@media screen and (min-width: 992px) {
    .small_business_feature {
        padding: 4rem 0;
        margin-top: 2rem;

        h2 {
            font-size: 2.5rem;
            line-height: 2.5rem;
            padding: 2rem 0;
        }
    }
}


/* --------------- Benefits Section ------------------ */
.benefits_section {
    width: 95%;
    max-width: 1300px;
    padding: 4rem 1rem;
    margin: 2rem auto;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    article {
        display: flex;
        align-items: flex-start;
        gap: 17px;

        h5 {
            color: #003c2f;
            font-weight: 700;
            font-size: 1.25rem;
        }

        p {
            font-weight: 500;
            color: #003c2f;
            line-height: 1.5rem;
            margin-top: -0.35rem;
        }
    }
}

@media screen and (min-width: 640px) {
    .benefits_section {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 8rem;
        row-gap: 4rem;
    }
}

@media screen and (min-width: 992px) {
    .benefits_section {
        width: 85%;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 8rem;
        row-gap: 4rem;

        article {
            flex-direction: column;

            h5 {
                padding-bottom: 0.75rem;
                font-size: 1.5rem;
            }

            p {
                width: 90%;
                color: #65816d;
            }
        }
    }
}


/* --------------- Testimonials Section ------------------- */
.testimonial_wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, .1);
    background-color: white;
    border-radius: 30px;
    width: 90%;
    max-width: 1300px;
    margin: 2rem auto;
    row-gap: 1rem;
    column-gap: 2rem;

    img {
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        object-fit: cover;
        object-position: 50% 0%;
        flex-grow: 1;
    }

    p {
        font-size: 1.25rem;
        color: #003c2f;
        padding: 0 1.5rem;
        font-weight: 500;

        &:last-of-type {
            margin-top: 0;

            a {
                color: #22ad01;
                text-decoration: underline;
            }
        }
    }

    small {
        font-size: 1.25rem;
        color: #003c2f;
        padding: 1.5rem;
        margin: 1rem 0 0.5rem;
        display: block;

        a {
            color: #22ad01;
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 992px) {
    .testimonial_wrapper {
        width: 80%;
        flex-direction: row;
        padding-bottom: 0;
        margin: 5rem auto;
        align-items: center;

        .testimony {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 2rem;
        }

        p {
            width: 95%;
        }

        small {
            margin: 1rem 0 0;
        }

        img {
            min-width: 300px;
            max-width: 348px;
            min-height: 348px;
            height: 100%;
            border-top-right-radius: 0;
            border-bottom-left-radius: 30px;
        }
    }
}


/* ---------------------- Contract Section ----------------------- */
.contract_wrapper {
    width: 90%;
    max-width: 1300px;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    background-image: url("../small_business_assets/small_business_pattern\ light.svg");
    background-color: #f2f7f2;
    row-gap: 3rem;
    column-gap: 6rem;
    border-radius: 30px;

    .contract_content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .client_content {
        padding-top: 70px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        button {
            margin: 0.75rem auto 0;
        }
    }

    .booking_content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    h2 {
        font-size: 2rem;
        line-height: 130%;
        color: #003c2f;
        font-weight: 700;
        padding-bottom: 1rem;
    }

    img {
        width: 90%;
        max-width: 700px;
        object-fit: contain;
        object-position: 50% 100%;
        padding-top: 50px;
    }

    p {
        color: #003c2f;
        letter-spacing: 0;
        font-size: 1rem;
        font-weight: 500;
        line-height: 120%;
        padding: 0.75rem 0;
    }

    button {
        color: #fff;
        text-align: center;
        background-color: #22ad01;
        border-style: none;
        border-radius: 36px;
        padding: 12px 33px 14px;
        font-weight: 500;
        line-height: 140%;
        transition: background-color .3s;
        display: block;
        margin: 0.75rem auto 2.5rem;

        &:hover {
            background-color: #1e7a07;
        }
    }
}


@media screen and (min-width: 992px) {
    .contract_wrapper {
        width: 95%;
        flex-direction: row;
        align-items: center;

        h2 {
            font-size: 2.75rem;
            margin: 0;
        }

        button {
            margin: 0.75rem 0 2.5rem;
        }

        .client_content {
            padding-left: 70px;

            button {
                margin: 0.75rem 0 2.5rem;
            }
        }

        .booking_content {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-right: 80px;
            padding-top: 60px;
        }
    }
}


/* ------------------- Expense and Income Section ------------------- */
.expense_income_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 95%;
    max-width: 1300px;
    margin: 5rem auto;

    h2 {
        font-size: 2rem;
        line-height: 130%;
        color: #003c2f;
        max-width: 450px;
        margin: 0 auto;
        font-weight: 700;
        padding-top: 80px;
        text-align: center;
    }

    .expense_wrapper {
        background-color: #f2f7f2;
        background-image: url("../small_business_assets/medium_bg_pattern.webp");
        width: 100%;
        border-radius: 40px;
        padding: 50px 20px 70px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            max-width: 500px;
            max-height: 310px;
            margin: 0 auto;
            object-fit: scale-down;
            border-radius: 10px;
        }

        p {
            color: #003c2f;
            letter-spacing: 0;
            font-size: 1rem;
            font-weight: 500;
            line-height: 120%;
            padding: 1rem 0;
            margin: 1rem auto;
            text-align: center;
            max-width: 400px;
        }

        button {
            color: #fff;
            text-align: center;
            background-color: #22ad01;
            border-style: none;
            border-radius: 36px;
            padding: 12px 33px 14px;
            font-weight: 500;
            line-height: 140%;
            transition: background-color .3s;
            display: block;
            margin: 0.75rem auto 0;

            &:hover {
                background-color: #1e7a07;
            }
        }
    }
}


@media screen and (min-width: 992px) {
    .expense_income_section {
        width: 95%;
        flex-direction: row;
        align-items: center;
        margin-bottom: 9rem;
        gap: 4rem;

        h2 {
            font-size: 2.5rem;
            line-height: 130%;
        }

        p {
            width: 80%;
            font-size: 1.25rem;
        }
    }
}